@font-face {
    font-family: 'montserrat';
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'crimson-text';
    src: url(../fontes/Crimson_Text/CrimsonText-SemiBoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-size: 1rem;

    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* header start*/
header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    font-size: 14px;
    padding: 20px 4%;
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: .5s;
}

header.rolagem {
    background-color: #fd9c59;

    z-index: 1;
}
header.rolagem.link:hover{
    color: #91A3B0;
}

.link {
    padding-left: 20px;
    font-weight: 450;
    text-decoration: none;
    color: white;
}

.link:hover {
    padding-left: 20px;
    text-decoration: none;
    color:  #fd9c59;
   
}

.header-box{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 40px;
padding-right: 40px;
}
/* header ends*/

/*main start*/

.main {
    background-color: white;
    flex-grow: 1;
    width: 100vw;
    height: auto;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.home {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-image: url(../img/darkhole-background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

}

.filter2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: #ffffff10;
    
    backdrop-filter: blur(3px);



}

.informacoes-home {

    font-size: 35px;
    font-weight: bold;
    color: #1B212E;
}

.name {
    width: 466px;
    font-family: 'crimson-text';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.name2 {
    width: 466px;

    font-size: 12px;
    ;
    font-style: italic;
}

.text-1 {
    background: hsla(25, 98%, 67%, 1);

    background: linear-gradient(360deg, hsla(25, 98%, 67%, 1) 0%, hsla(221, 26%, 14%, 1) 70%);

    background: -moz-linear-gradient(360deg, hsla(25, 98%, 67%, 1) 0%, hsla(221, 26%, 14%, 1) 70%);

    background: -webkit-linear-gradient(360deg, hsla(25, 98%, 67%, 1) 0%, hsla(221, 26%, 14%, 1) 70%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FD9C59", endColorstr="#1B212E", GradientType=1);

    background-clip: text;
    color: transparent;
}

#text::after {
    content: '';
    position: relative;
    border-right: 4px solid #fd9c59;
    animation: piscar 700ms linear infinite;
}

@keyframes piscar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

.bnt {
    font-size: 16px;
    font-family: montserrat;
    color:
        #1a2425;
    border: solid 2px #1a2425;
    border-radius: 30px;

}

.bnt:hover {
    font-size: 16px;

    color:
        #1a2425;
    border-radius: 30px;
    background-color: #67807dc4;

}

.btn2 {
    padding: 10px;
}

.flex {
    display: flex;
    width: 350px;
    justify-content: center;


}


.sobre {
    width: 100svw;
    height: auto;
    background-color: #1B212E;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    color: white;
    

}

.filter3 {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;


    background: #ffffff10;
    
    backdrop-filter: blur(3px);

}

.educacao {
    padding-left: 30px;
}

.edu {
    padding-left: 10px;
    font-weight: bold;
}

.edu-2 {
    width: 199px;
    height: 193px;
    background-color: rgba(128, 128, 128, 0.344);
    border-radius: 10px;

}

.edu-data {
    color: hsla(25, 98%, 67%, 1);
}

.edu-info {
    color: #030713;
}

.sobre-name {
    margin-top: 100px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sobre-name-box {
    width: 550px;
}

.sobre-name i {
    color: #fd9c59;
}

.line {
    background-color: #fd9c59c4;
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.sobre-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle img {
    background-color: #ddd;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;

}


.fa-css3-alt {
    font-size: 60px;
}

.fa-c {
    font-size: 60px;
}

.fa-js {
    font-size: 60px;
}

.fa-html5 {
    font-size: 60px;
}

.skill-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

}

.skill-page2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    height: 200px;

}

.skill {
    padding-right: 30px;
}

.skill-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-name {
    padding-left: 10px;
    font-weight: bolder;
}

.sobre-box {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 80%;
    height: auto;

    background-color: white;
    border-radius: 10px;
}

.sobre-name-2 {
    color: white;
    margin-top: 100px;
    font-size: 20px;
    /* text-align: center; */
    /* font-weight: bold; */

}

.educacao {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.educacao-itens {
    width: 700px;
    height: auto;

}

.projetos-page {
    background-color: #1B212E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;

}

.labirinto {
    background-image: url(../img/Labirinto-projeto.jpg);
    background-size: cover;
    color: white;
    max-width: 500px;
    width: 100%;
    height: 300px;


}

.filter {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: #ffffff10;
    
    backdrop-filter: blur(3px);

}


.projeto-item {

    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; */

    width: 260px;


    padding-left: 20px;
}

.gerador {
    background-image: url(../img/dica-senha-1200x640.jpg);
    background-size: cover;
    color: white;

    width: 500px;
    height: 300px;
}
.filter4{
    width: 100vw;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


    background: #ffffff10;
   
    backdrop-filter: blur(3px);
}
.contato {
    background-color: #1B212E;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-box {
    background-color: #1B212E;
    width: 1000px;
    height: 450px;
    
    display: flex;

    justify-content: center;
    align-items: center;
}
.filter5{
    
    width: 1000px;
    height: 450px;
    padding: 10px;
    
    display: flex;

    justify-content: center;
    align-items: center;
    
    background: #ffffff10;
   
    backdrop-filter: blur(3px);
}

.form {
    width: 60%;
    height: 100%;
    background-color: #1B212E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:20px 0 0 20px;
}
form h3{
    text-align: center;
    font-size: 30px;


}
form p{
    text-align: center;
    margin:20px 0;
    font-size: medium;
    font-style: italic;

}
input{
    color: white;
}
.input-single{
    position: relative;
    margin: 20px 0;
}
.input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.2s;
}
.imput{
    width: 100%;
    border: 0;
    border-bottom: 2px solid  #91A3B0;
    background-color: #1B212E;
    padding: 5px;
    font-size: 15px;
    outline: none;
}
form .input-single .imput:focus ~ label,
form .input-single .imput:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color:  #91A3B0;
}

.btn-3{
    width: 100%;
    text-align: center;
}
form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;

}


.contato-2 {
    border-radius:0 20px 20px 0 ;
    width: 60%;
    height: 100%;
    background-color: #fd9c59;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    
}
.contato-3 h3{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
.contato-3 i{
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}
.contato-3{
    width: 450px;
    height: 396.4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.contato-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-end;
    flex-wrap: wrap;
    margin-top: 110px;
}

/*main end*/

.footer {
    background-color: #1B212E;
    color: white;
    height: 60px;
    font-size: 14px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 12px 0px rgba(252, 252, 252, 0.168);



}
.a {
    text-decoration: none;
    color: white;
    }
.a:hover{
    color: #91A3B0 ;
}
.footer i {
    padding-left: 10px;
    font-size: 30px;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    header{
        width: 100vw;
        background-color: #1B212E;
        padding: 0;
    }
    .header-box{
        width: 100vw;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        padding-top: 10px;
        
        }
    .link{
        padding-right: 20px;
    }
    .name{
        padding-left: 10px;
        padding-right: 10px;
        width: 100vw;
    }
    .text-1{
        padding-left: 20px;

    }
    .flex{
        width: 100vw;
        align-items: center;
    }
    .sobre-name-box{
        padding-left: 10px;
        padding-right: 10px;
        width: 100vw;
    }
    
    .col{
        display: flex;
        justify-content: center;
    }
    .edu{
        text-align: center;
        padding: 0;
    }
    .projetos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .labirinto{

        width: 90vw;
        height: 200px;
    }
    .gerador{

        width: 90vw;
        height: 200px;
    }
    .filter{

        width: 90vw;
        height: 200px;
    }
    
    .sobre-name-2{
        margin-bottom: 60px;
        margin-top: 60px;
    }
    
    .contato-box{
        
        width: 300px;
        height: auto;
        flex-direction: column-reverse;
    }
    .filter5{

        width: 300px;
        height: auto;
        flex-direction: column-reverse;
    }
    .contato-2{
        width: 300px;
        height: auto;
        border-radius: 0 0 0 0;
    }
    .form{
        width: 300px;
        height: auto;
        border-radius: 0 0 0 0;
        
    }
    .contato-3 h3{
        width: auto;
        padding-left: 70px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px){
    .projetos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    .labirinto{

        width: 90vw;
        height: 200px;
    }
    .gerador{

       
        height: 200px;
    }
    .filter{

        
        height: 200px;
    }
    
    .sobre-name-2{
        margin-bottom: 60px;
        margin-top: 60px;
    }
    
    .contato-box{
        
        width: 300px;
        height: auto;
        flex-direction: column-reverse;
    }
    .filter5{

        width: 300px;
        height: auto;
        flex-direction: column-reverse;
    }
    .contato-2{
        width: 300px;
        height: auto;
        border-radius: 0 0 0 0;
    }
    .form{
        width: 300px;
        height: auto;
        border-radius: 0 0 0 0;
        
    }
    .contato-3 h3{
        width: auto;
        padding-left: 70px;
    }
    .contato-3{
        width: 100vw;
        height: auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
